@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300 1,400;1,500;1,700;1,900&display=swap");

body {
    background: linear-gradient(to right, #0f0f0f, #434343);
    overflow: hidden;
}

img {
    margin: auto;
    display: block;
    width: 550px;
    height: 550px;
}

.navBar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    width: 1920px;
    height: 70px;
    top: 0%;
    left: 0%;

}

.navBar button {
    transition: 0.5s;
    position: absolute;
    background-color: rgba(50, 50, 50);
    color: white;
    width: 150px;
    height: 35px;
    top: 20%;
    border: 2px solid rgba(25, 25, 25);
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.6),0 0 30px rgba(255, 255, 255, 0.4);
}

.navBar button:hover {
    transition: 0.5s;
    background-color: rgba(100, 100, 100);
    cursor: pointer;
}

.image {
    display: flex;
    justify-content: center;
    animation: heartbeat 10s infinite;
}

.SavvyLogo {
    transform: scale(1.5);
    filter: blur(10px);
    animation: zoomBlur 2s forwards;
}

@keyframes zoomBlur {
    0% {
        transform: scale(1.5);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

.startbuttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.startbuttons button {
    position: absolute;
    font-family: "Oswald", sans-serif;
    transition: 0.5s;
    padding: 10px 20px;
    font-size: xx-large;
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.432);
    color: white;
    bottom: 5.5%
}

.startbuttons button:hover {
    transition: 0.5s;
    border: 1px solid transparent;
    /* color: rgb(78, 196, 151); */
    color: transparent;
    cursor: pointer;
    scale: 1.3;
    bottom: 7.3%;
}

.newsdiv {
    transition: 0.5s;
    margin: auto;
    display: block;
    width: 900px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 15px;
    animation: slide-in-fade-in2 0.5s forwards;
}


@keyframes slide-in-fade-in2 {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.newsdiv:hover {
    transition: 0.5s;
    border: 1px solid transparent;
}

.news {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    color: white;
    width: 900px;
    height: 100%;
    /* Sørger for, at containeren dækker hele højden */
    position: relative;
    /* Tilføjer positionering for at placere teksterne */
    padding: 5px;
    scale: 0.9;
    animation: 1s fade-in forwards;
    /* animation: heartbeat 15s infinite; */
}

/* /* .text-container {
    position: absolute;
    Placerer alle teksterne ovenpå hinanden
width: 100%;
height: 100%;
overflow: hidden;
/* Sikrer, at teksten ikke går uden for containeren */
/* } */

*/ .text-container h1 {
    position: absolute;
    /* Sørger for, at alle teksterne overlapper hinanden */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    padding: 5px;
}

@keyframes slide-in-fade-in {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fade-in1 {
    from {
        transform: translateX(15%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }
}

@keyframes text-animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 0.5;
        transform: translateY(0);
    }

    /* 39% {
        opacity: 0;
        transform: translateY(0%);
    } */

    60% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
