body {
    /* background: linear-gradient(90deg, #1D976C 0%, #93F9B9 100%);
    background: linear-gradient(90deg, #122526 0%, #303234 100%); */
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    overflow: hidden;
}

#header-buttons {
    animation: zoomBlur 1s forwards;
    /* margin-right: 35px; */
    float: middle;
    height: 68px;
    width: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.250);
    /* background: linear-gradient(90deg, rgba(72,64,193,0.500) 0%, rgba(13,221,173,0.500) 35%, rgba(0,212,255,0.500) 100%); */
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    /* border: 2px solid rgb(0,0,0,0.150); */

    /* border: 2px solid rgb(0,0,0,0.350); */
    border-radius: 15px;
  }

  #header-buttons button {
    border: 2px solid transparent;
    margin: 5px;
    width: 100px;
    height: 50px;
    background-color: rgb(0,0,0,0.250);
    color: white;
    font-size: larger;
  }

  #header-buttons button:hover {
    background-color: rgb(0,0,0,0.150);
    /* background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
   /* border-color: transparent; */
    cursor: pointer;
}

.Savvy {
    float: left;
    width: 75px;
    height: 75px;
}



@keyframes zoomBlur {
    0% {
        transform: scale(1.2);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}


@keyframes slide-in-fade-in2 {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
