@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nerko+One&display=swap");

body {
    /* background: linear-gradient(90deg, #1D976C 0%, #93F9B9 100%);
    background: linear-gradient(90deg, #122526 0%, #303234 100%); */
    /* background: linear-gradient(90deg, #232526 0%, #414345 100%); */
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
    overflow: hidden;
    margin: 0;
}


@keyframes fadeOut {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

#header-buttons {
    text-align: center;
    animation: fadeOut 0.5s ease 0s 1 normal forwards;
    float: middle;
    height: 68px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(11px) saturate(151%);
    -webkit-backdrop-filter: blur(11px) saturate(151%);
    background-color: rgba(17, 25, 40, 0.35);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: "Bebas Neue", sans-serif;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    text-decoration: hidden;
  }

  #header-buttons a {
    color: white;
    text-decoration: none;
}


  #header-buttons a {
    transition: 0.5s;
    border: 2px solid transparent;
    text-shadow: -1px -1px 8px #000000;
    margin: 5px;
    width: 100px;
    height: 50px;
    background-color: hsl(162, 89%, 32%);
    color: white;
    font-size: larger;
    border-radius: 10px;
  }

  #header-buttons a:hover {
    transition: 0.5s;

    cursor: pointer;
}

.SavvyImg {
    display: flex;
    justify-content: center;
  }

  .SavvyImg img {
    animation: zoomBlur 1s forwards;
    width: 30%;
  }



@keyframes zoomBlur {
    0% {
        transform: scale(1.2);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}


@keyframes slide-in-fade-in2 {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
